{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Форма добавления{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>
<div class="features">
    <h1 style="margin-left:-100px; font-size: 5rem; color: #39559D;">Добавление продукта</h1>
    <form method="post">

        {% csrf_token %}
        Название продукта {{ form.title }}<br>
        Дата производства
        <div class="form-group">
            <input type="date" name="date" id="id_date" class="form-control" value="{{ form.date.value }}" min="2021-01-01">
        </div>
        Дата окончания срока годности
        <div class="form-group">
            <input type="date" name="date1" id="id_date1" class="form-control" value="{{ form.date1.value }}" min="" max="">
        </div>
        Место хранения {{ form.category }}<br>

        <span>{{ error }}</span>
        <button class="btn "
                style="background-color:#A5D6A7; transform: scale(1.5); margin-top:40px; margin-left:110px; width:240px;"
                type="submit">ДОБАВИТЬ
        </button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <script>
                Toastify({
                    text: "{{ message }}",
                    backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                    duration: 2000,
                }).showToast();
            </script>
        {% endfor %}
    {% endif %}
</div>

<script>
    // Получаем элемент даты производства
    var dateInput = document.getElementById('id_date');
    // Получаем элемент даты окончания срока годности
    var date1Input = document.getElementById('id_date1');

    // Устанавливаем обработчик изменения значения
    dateInput.addEventListener('change', function () {
        // Получаем выбранную дату
        var selectedDate = new Date(dateInput.value);

        // Устанавливаем максимальную дату для date (текущая дата)
        var currentDate = new Date();
        dateInput.setAttribute('max', currentDate.toISOString().split('T')[0]);

        // Устанавливаем минимальную и максимальную даты для date1 (от выбранной даты до 3 лет вперед)
        var minDate1 = new Date(selectedDate);
        var maxDate1 = new Date(selectedDate);
        maxDate1.setFullYear(maxDate1.getFullYear() + 3);

        date1Input.setAttribute('min', selectedDate.toISOString().split('T')[0]);
        date1Input.setAttribute('max', maxDate1.toISOString().split('T')[0]);

        // Устанавливаем начальное значение для date1Input, если оно не было установлено
        if (!date1Input.value) {
            date1Input.value = selectedDate.toISOString().split('T')[0];
        }
    });
</script>
{% endblock %}
