{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ category.name }}{% endblock %}

{% block header %}
    <!-- Ваши теги заголовка, если они есть -->
{% endblock %}

{% block content %}
   <style>


    h1 {
        text-align: center;
        color: #39559D;

    }

    .product-container {
        border-radius: 8px;
        margin-bottom: 20px;
        margin-left: 300px;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
    }

    .product-container:hover {
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }


    .delete-button {
        background-color: #4CAF50;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-left: -110px;
    }

    .delete-button.expired {
        background-color: #D32F2F;
    }

    .delete-button:hover {
        background-color: #FF5252;
    }

    .store_img {
        position: absolute;
        top: 11%;
        right: 1%;
        width: 20%;
    }
    aside {

    float: left;
    background: #1E3C40;
    width: 20%;
    /*padding: 2.5%;*/
    height: 250vh;
    color: #000;
     position: fixed;
}
</style>
  <h1 style="text-align: center; color: #39559D;top: 100cm;">{{ category.name }}</h1>
{% for product_info in products_with_days %}
  {% if product_info.product.category_id == 3 %}
    <div style="margin-bottom: 20px;">
        <div class="product-container" style="border: 2px solid {% if product_info.product.date1 < now %}red{% else %}green{% endif %}; padding: 10px;">
            <h2>{{ product_info.product.title }}</h2>
            <p>Дата изготовления: {{ product_info.product.date }}</p>
            <p>Дата истечения: {{ product_info.product.date1 }}</p>
            {% if product_info.product.date1 < now %}
                <p style="color: red;">Срок годности истек</p>
            {% else %}
                <p>Осталось дней: {{ product_info.days_until_expiration }}</p>
            {% endif %}
            {% if product_info.product.photo %}
                <img src="{{ product_info.product.photo.url }}" alt="{{ product_info.product.title }}">
            {% endif %}
            <!-- Кнопка удаления продукта -->
            <form method="post" action="{% url 'delete_product2' product_info.product.id %}">
                {% csrf_token %}
                <button type="submit" class="delete-button {% if product_info.product.date1 < now %}expired{% endif %}">
                    Удалить продукт
                </button>
            </form>
        </div>
    </div>
  {% endif %}
{% endfor %}




<div class="features" style="margin: 0;">
    <img class="store_img" src="{% static 'main/img/3.png' %}">
</div>
{% endblock %}