{% extends 'main/layout.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="features">
    <h1>{{ article.title }}</h1>
    <p>Изготовлен: {{ article.date }}</p>
    <p>Годен до: {{ article.date1 }}</p>
    <p>Категория: {{ article.category }}</p>
    <p>{{ article.photo }}</p>
    {% if article.photo %}
    <div class="picture">
        <img src="{{ article.photo.url }}">
    </div>


    {% else %}
    <p>Изображения нет</p>
    {% endif %}
</div>
{% endblock %}
