{% extends 'main/layout.html' %}

{% block content %}
    <h1 class="registration-title" style="margin-left: 60px;">Регистрация</h1>
    <div class="col-4">
        <form id="add_form" class="login_form" method="post">
            {% csrf_token %}
            {{form}}
            <button form="add_form" type="submit" class="btn  mt-4" style="background-color:#A5D6A7; margin-left:110px; width:180px;">ЗАРЕГИСТРИРОВАТЬ</button>
            <p><a href="{% url 'home' %}" style="color:#000; margin-left:140px;">Вернуться назад</a></p>
        </form>
    </div>
{% endblock %}