{% extends 'main/layout.html' %}

{% block title %}О нас{% endblock %}


{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&family=Russo+One&display=swap" rel="stylesheet">
<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.svyaz{
font-family: 'Russo One', sans-serif;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
}
.nomer{
text-align: center;
font-family: 'Rubik', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
}
    .contacts{
    background:white;
    border-radius:20px;
        position :absolute;
        text-align:center;
        bottom:50px;
        left:30%;
    }
</style>
<div class="features">

<h1 style="font-size:32px;color: #4174D0;">О нас</h1>
        <div class="about_block">
<p class="about_us">&emsp;Созданный в Сентябре 2023, Fresh Tracker – сайт, для тех, кто желает отслеживать сроки годности продуктов в своём доме. Мороженное в морозильной камере, упаковка макарон в шкафу для хранения, молочная продукция на полках холодильника – это и многое другое может постоянно находиться под вашем контролем.
   <br>&emsp;Испорченные продукты часто являются возбудителями пищевых отравлений. Иногда даже самая неприметная булочка с истёкшим сроком годности может повести за собой серьезные проблемы. Часто люди сталкиваются с этими проблемами. И чтобы всё это вас не касалось, мы придумали веб-приложение, с помощью которого вы сможете :
 <br>

  <div style="text-align:left; margin:0 auto; width:100%;">
<div class="pros">
    <svg id="check" xmlns="http://www.w3.org/2000/svg" width="24" fill="#00E676" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.762 0-5 2.239-5 5v14c0 2.761 2.238 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-8.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"/></svg>&emsp;1. Вовремя утилизировать испортившееся продукты, тем самым не подвергать здоровье риску</div>
    <div class="pros">
    <svg width="24" height="24"><use href="#check"></use></svg>&emsp;2. Всегда знать что у вас находится в месте для хранения продуктов, что в дальнейшем поможет избежать лишних денежных трат</div>
    <div class="pros">
    <svg width="24" height="24"><use href="#check"></use></svg>&emsp;3. Добавлять продукты, которые вы приобрели, чтобы в дальнейшем отслеживать количество имеющейся продукции.</div>
<div class="pros">
    <svg width="24" height="24"><use href="#check"></use></svg>&emsp;4. Узнавать о том, что тот или иной продукт испорчен, и сразу принимать решение о покупке замены.</div>
</p>
</div>
            <div class="contacts">
    <span class="svyaz">Связь</span><br>
    <span class="nomer">+7 (960) 063 19 92</span><br>
    <span class="nomer">+7(965) 596 62 42</span>
</div>
</div>
    </div>

{% endblock %}

