{% extends 'main/layout.html' %}
{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&family=Russo+One&display=swap" rel="stylesheet">
{% block title %}{{title}}{% endblock %}

  {% block header %}

{% endblock %}
{% block content %}
<style>
 body {

 }
 .back-btn, .add-btn {
   position: absolute;
    height: 46px;
font-size: 1.3rem;
   background-color: #3F51B5;
   color: white;
}
.add-btn{
    bottom: 150px; right: 100px;
    width: 300px;
}
.back-btn{
    bottom: 90px; right: 175px;
    width: 150px;
}
.store{



}
.store img{
width:20%;
}
.fridge img{
transform:scale(1.1);
height:auto;
position: absolute;
left:23%;
top:23%;
}
.cupboard img{
height:auto;
position: absolute;
right:5%;
top:20%;
}
.freezer img{

height:auto;
position: absolute;
left:49%;
bottom:4%;
 top:55%;
  width: 25%;
}
 .choose{
color: #666;
text-align: center;
font-family: 'Roboto',sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 257.143% */
letter-spacing: 1.25px;
text-transform: uppercase;}
 aside {

    float: left;
    background: #1E3C40;
    width: 20%;
    /*padding: 2.5%;*/
    height: 105vh;
    color: #000;

}

</style>
<div class="features">
<h1 class="login" style="margin:-100px auto 40px auto; font-size:60px;">Продукты</h1>
<h2 class="choose">(выберите место хранения)</h2>
<a href="{% url 'category_detail' category_id=1  %}" class="store fridge"><img src="{% static 'main/img/2.png' %}"></a>
<a href="{% url 'cupboard' category_id=3 %}" class="store cupboard "><img src="{% static 'main/img/3.png' %}"></a>
<a href="{% url 'moroz' category_id=2 %}" class="store freezer"><img src="{% static 'main/img/1.png' %}"></a>
</div>

{% endblock %}
